.app-wrapper {
  margin: auto;
  display: grid;
  width: 1200px;
  

  grid-template-areas:
  "header header header"
  "navbar con sidebar";

  grid-template-rows: 70px 1fr ;
  grid-template-columns: 2fr 10fr 1fr;
  /* grid-gap: 5fr; */
}

.app-wrapper-content {
  grid-area: con;
  background-color: #c1dee2;
}

/*цветовая палитра https://color.romanuke.com/tsvetovaya-palitra-3588/ */

