.dialogs    {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems   {
    padding: 10px;
}

.dialogsItem .active   {
    color:burlywood;
}
.dialogsItems a {
    text-decoration: none;
    color:firebrick;
}

.messages   {
    padding: 10px;
}
